* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mobile {
  display: none;
}

header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  top: -1px;
}

footer {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(to bottom, gray, black);
}

/*nav*/
.navbar-brand {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  background-color: #ed6fd3;
  padding: 0 15px 0 15px;
  border-radius: 10px;
}

.container-fluid {
  background-color: rgb(19, 19, 15);
}

.btn-primary {
  background-color: #ed6fd3;
  border: none;
}
.btn-primary:hover {
  background-color: #ed6fd3;
}

.btn.btn-secondary.dropdown-toggle {
  background-color: #ed6fd3;
  border: none;
  margin-left: 20px;
}

.p-4.show {
  width: 30vw;
}
.p-4.show button {
  border: none;
}

nav {
  width: 94%;
}
nav ul {
  list-style: none;
  overflow: hidden;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  width: 100vw;
}
nav ul li {
  float: left;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul li a {
  display: block;
  padding: 10px;
}
nav ul li a:hover {
  background-color: #ed6fd3;
  color: wheat;
}

a {
  color: black;
  text-decoration: none;
}

header img {
  width: 40px;
  height: 40px;
}

main {
  padding-top: 40px;
}

form {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*index*/
.titulo {
  padding-bottom: 15px;
  font-size: 1.6em;
  text-align: center;
  font-weight: 300;
  color: rgb(0, 0, 0);
  padding-top: 40px;
  margin-top: 20px;
}
.titulo svg {
  background-color: yellow;
  border-radius: 10px;
}

.resaltar1 {
  color: rgb(0, 0, 0);
  background-color: #ffff45;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.resaltar2 {
  background-color: aliceblue;
}

.video {
  width: 50vw;
  height: 70vh;
  margin: 15px 0px 15px 0px;
}

.conteiner-centr {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: rgb(248, 175, 175);
  padding: 15px 0px 15px 0px;
  margin-top: 30px;
  border-radius: 20% 0px 20% 0px;
}

.iconos-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(219, 212, 212);
  margin-top: 50px;
  width: 100%;
}

.icono-main {
  width: 200px;
  height: auto;
  text-align: center;
}
.icono-main button {
  font-size: 40px;
  border: none;
}

.novedades-promociones {
  display: flex;
  flex-direction: row;
  background-color: rgb(228, 119, 199);
  width: 100vw;
  height: 320px;
  font-size: 30px;
  align-items: center;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.novedades-promociones form {
  margin-left: 40px;
}

.novedades-promociones {
  width: 100%;
}

.texto-promo {
  order: 1;
  width: 50%;
}

.form-promo {
  width: 50%;
  order: 2;
  align-items: center;
  justify-content: center;
}
.form-promo input {
  width: 90%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.promo-input {
  background-color: rgb(228, 119, 199);
  border: 1px solid rgb(38, 37, 37);
  border-radius: 5px;
  color: black;
  padding-left: 15px;
  font-size: 16px;
  box-shadow: 4px -4px 4px 4px rgba(78, 71, 71, 0.281);
}

::placeholder {
  color: black;
}

#susc-btn {
  background-color: black;
  color: aliceblue;
}

.img-descuentos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-descuentos img {
  width: 90%;
  height: auto;
  margin-bottom: 40px;
}

.img-movil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/1011/960/858/azul-cielo-naturaleza-nubes-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-movil img {
  width: 25vw;
  height: auto;
  box-shadow: 20px -20px 20px 0px rgba(137, 133, 125, 0.4), 20px -20px 20px 0px rgba(240, 125, 205, 0.4);
  border-radius: 15px;
  margin: 15px;
}
.img-movil button {
  width: 20vw;
  height: 5vh;
  color: white;
  margin: 5px;
  background-color: rgba(0, 255, 255, 0.146);
  border: 1px solid rgb(255, 255, 255);
  font-size: 1.1em;
}
.img-movil button:hover {
  background-color: #ed6fd3;
}

.ofertas {
  background-color: rgb(3, 3, 3);
  font-size: 18px;
  color: whitesmoke;
  width: 100%;
  font-weight: 700;
}

/*sucursales*/
.mapa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: 120vh;
}
.mapa iframe {
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}

.h1-mapa {
  font-size: 20px;
  margin-top: 50px;
}

/*trabaja con nosotros*/
.fondo-formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.pinimg.com/originals/a9/66/97/a96697f5345ab2535adc0d2d73b3b89d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 0px 20px 0px;
  border-radius: 420px;
  box-shadow: 20px 220px 20px 0px rgba(41, 41, 40, 0.4), 220px 220px 220px 220px rgb(240, 125, 205);
}

.formulario {
  background-color: rgba(55, 51, 51, 0.632);
  width: 450px;
  height: 450px;
  margin-top: 70px;
  border: 10px solid rgba(51, 40, 45, 0.576);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 50px;
  box-shadow: 20px 10px 20px 20px rgba(255, 255, 255, 0.471);
}

.input {
  margin-left: 45px;
  height: 30px;
  width: 80%;
  margin-bottom: 10px;
  background-color: rgb(58, 57, 57);
  color: white;
  padding: 10px;
  border: 1px solid rgb(195, 16, 100);
  border-radius: 4px;
}
.input::placeholder {
  color: rgba(216, 210, 210, 0.631372549);
}

input:focus {
  outline: unset;
  border: 2px solid greenyellow;
}

.sumate {
  padding-top: 15px;
  padding-bottom: 4px;
  color: aliceblue;
}

.leore {
  font-size: 35px;
  color: rgb(195, 16, 100);
  padding-top: 10px;
  padding-bottom: 10px;
}

.check {
  margin-left: 20px;
  margin-bottom: 20px;
}

.enviar {
  width: 200px;
  height: 30px;
  margin-left: 120px;
  color: aliceblue;
  background-color: black;
  border-radius: 8px;
}
.enviar:hover {
  background-color: #ed6fd3;
  color: aliceblue;
}

.acepto {
  color: aliceblue;
}

/*catalogo*/
.titulo-catalogo {
  font-weight: 300;
}

.subtitulo-catalogo {
  margin-left: 20px;
}

.main-ofertas {
  height: 100vh;
}

.buscador-catalogo {
  background-color: pink;
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buscador-catalogo i {
  margin-right: 10px;
}

.buscador {
  width: 60%;
  height: 40px;
  border-radius: 10px;
  padding: 15px;
  font-size: 1rem;
}

.container-img-catalogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.img-catalogo {
  margin: 15px;
  width: 210px;
  height: auto;
  text-align: center;
  align-items: center;
}
.img-catalogo:hover {
  cursor: pointer;
}
.img-catalogo button {
  background-color: rgb(31, 30, 30);
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}
.img-catalogo button:hover {
  cursor: pointer;
  background-color: #ed6fd3;
  color: wheat;
}

/*ofertas*/
.container-ofertas {
  width: 100vw;
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.3fr 0.3fr 0.1fr;
  grid-template-areas: "ofertas-pigmento ofertas-pigmento ofertas-pigmento" "ofertas-del-mes1 ofertas-del-mes2 ofertas-del-mes3" "publicidad1 publicidad1 publicidad1" "footer footer footer";
  background-image: url(../multimedia/aurora-polar-en-las-montanas-arte-digital_3840x2160_xtrafondos.com.jpg);
}

.publicidad1 {
  grid-area: publicidad1;
  background-image: url(https://perfugroupar.vtexassets.com/assets/vtex.file-manager-graphql/images/6198cdf3-aa34-4074-9fb9-04fc29cfe1ff___1a7bffcf059b195a34f1e3b2d1d3bd1a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 280px;
  -webkit-text-stroke: 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(203, 126, 187);
  font-size: 32px;
  border-radius: 30px;
  margin: 0 auto 0 auto;
}

.ofertas-del-mes1 {
  grid-area: ofertas-del-mes1;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(200, 200, 200);
  font-weight: bold;
  margin: 0px auto 0px auto;
  box-shadow: 3px -3px 3px 0px rgba(137, 133, 125, 0.4);
  margin-top: 30px;
  background-image: linear-gradient(black, white);
}
.ofertas-del-mes1:hover {
  border: 2px solid #ed6fd3;
}

.ofertas-del-mes2 {
  grid-area: ofertas-del-mes2;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(200, 200, 200);
  font-weight: bold;
  margin: 0px auto 0px auto;
  box-shadow: 3px -3px 3px 0px rgba(219, 191, 134, 0.4);
  background-image: linear-gradient(black, white);
}
.ofertas-del-mes2:hover {
  border: 2px solid #ed6fd3;
}

.ofertas-del-mes3 {
  grid-area: ofertas-del-mes3;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(200, 200, 200);
  font-weight: bold;
  margin: 0px auto 0px auto;
  box-shadow: 3px -3px 3px 0px rgba(137, 133, 125, 0.4);
  background-image: linear-gradient(black, white);
  margin-top: 30px;
}
.ofertas-del-mes3:hover {
  border: 2px solid #ed6fd3;
}

.img-off {
  width: 200px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 40%;
}

.rojo {
  color: red;
  text-decoration-line: line-through;
}

.btn-off {
  background-color: rgb(31, 30, 30);
  color: white;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.btn-off:hover {
  cursor: pointer;
  background-color: #ed6fd3;
  color: wheat;
}

.off-titulo {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 50px;
}
.off-titulo .off-titulo h1 {
  font-weight: 300;
}

.ofertas-pigmento {
  grid-area: ofertas-pigmento;
  display: flex;
  width: 100vw;
  height: 60vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 175, 175);
}

.img1 {
  width: 32%;
  height: 50%;
  border-radius: 20px;
  border: 1px solid rgb(86, 86, 86);
}

.img2 {
  width: 32%;
  height: 50%;
  border-radius: 20px;
  border: 1px solid rgb(86, 86, 86);
}

.img3 {
  width: 32%;
  height: 50%;
  border-radius: 20px;
  border: 1px solid rgb(86, 86, 86);
}

.hover:hover {
  border: 3px solid #ed6fd3;
  cursor: pointer;
}

.footer {
  grid-area: footer;
}

/*footer*/
.social-footer {
  width: 100%;
  text-align: center;
  font-size: 2.1em;
  margin: 10px;
  border-radius: 15px;
  border: 3px solid rgb(11, 11, 11);
}
.social-footer i svg {
  margin: 15px 20px 20px 4px;
}
.social-footer i svg:hover {
  font-size: 1.1em;
}

.derechos {
  width: 100%;
  height: auto;
  color: white;
  font-size: 0.5em;
  border-radius: 10px;
  background-image: linear-gradient(rgb(100, 100, 100), black);
}

.marca {
  color: rgb(133, 13, 69);
  font-weight: bold;
  font-size: 0.8em;
  padding-top: 20px;
}

.ayuda {
  font-size: 0.5em;
  padding: 10px 0px 20px 0px;
}
.ayuda:hover {
  color: #ed6fd3;
}

p {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

/*bootstrap*/
.carroza {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  color: black;
  max-width: 60%;
}

@media (max-width: 767px) {
  header {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-color: aliceblue;
    width: 100%;
  }
  .mobile {
    display: flex;
  }
  /*header mobile*/
  .p-4.show {
    width: 80vw;
  }
  .p-4.show button {
    background-color: #000000;
    border: none;
  }
  .btn.btn-primary.dropdown-toggle {
    background-color: rgba(20, 20, 20, 0.2901960784);
    border: none;
  }
  .btn.btn-primary.dropdown-toggle i svg {
    font-size: 20px;
    color: #ed6fd3;
  }
  .btn.btn-secondary.dropdown-toggle {
    background-color: rgba(20, 20, 20, 0.2901960784);
    border: none;
  }
  nav ul {
    background-color: #272727;
  }
  a.nav-link {
    background-color: rgba(35, 35, 35, 0.6235294118);
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border: 3px solid rgba(149, 8, 123, 0.4705882353);
    border-left: none;
    padding-bottom: 5px;
    margin: 5px;
    font-weight: bold;
  }
  .offcanvas-header {
    padding-top: 50px;
    color: #ffffff;
  }
  .text-bg-dark {
    background-color: rgba(0, 0, 0, 0.4705882353) !important;
    padding-right: 20px;
  }
  .carrito {
    width: 40px;
    font-size: 20px;
  }
  header img {
    width: 40px;
    height: auto;
  }
  .ofertas {
    display: none;
  }
  /*index*/
  .titulo {
    margin-top: 30px;
  }
  .resaltar1 {
    padding: 0px;
  }
  .video {
    width: 80%;
    height: 40vh;
  }
  .carroza {
    width: 90vw;
    max-width: max-content;
  }
  .novedades-promociones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0px;
  }
  .texto-promo {
    width: 100%;
    padding: 10px;
  }
  .form-promo {
    width: 100%;
  }
  .img-movil {
    flex-direction: column;
  }
  .img-movil img {
    width: 60vw;
  }
  /*sucursales*/
  .mapa {
    width: 100%;
    height: 76vh;
    justify-content: flex-start;
  }
  .h1-mapa {
    margin-top: 100px;
  }
  /*trabaja con nosotros*/
  .fondo-formulario {
    width: 100%;
    height: 93vh;
  }
  .formulario {
    width: 95%;
    height: auto;
  }
  .enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100%;
  }
  .input {
    margin: 10px 0px 10px 0px;
    padding-bottom: 10px;
    width: 100%;
  }
  /*catalogo*/
  .titulo-catalogo {
    margin-top: 60px;
  }
  .img-catalogo {
    width: 100%;
  }
  /*ofertas*/
  .container-ofertas {
    grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.1fr;
    grid-template-areas: "ofertas-pigmento ofertas-pigmento ofertas-pigmento" "ofertas-del-mes1 ofertas-del-mes1 ofertas-del-mes1" "ofertas-del-mes2 ofertas-del-mes2 ofertas-del-mes2" "ofertas-del-mes3 ofertas-del-mes3 ofertas-del-mes3" "publicidad1 publicidad1 publicidad1" "footer footer footer";
  }
  .ofertas-del-mes1 {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgba(59, 59, 59, 0.456);
    text-align: center;
    box-shadow: 20px -20px 20px -20px white;
    border-radius: 20%;
    font-size: 20px;
    background-color: rgba(45, 45, 45, 0.5137254902);
    color: #ffffff;
    font-weight: 300;
  }
  .ofertas-del-mes2 {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgba(59, 59, 59, 0.456);
    text-align: center;
    box-shadow: 20px -20px 20px -20px white;
    border-radius: 20%;
    font-size: 20px;
    background-color: rgba(45, 45, 45, 0.5137254902);
    color: #ffffff;
    font-weight: 300;
  }
  .ofertas-del-mes3 {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgba(59, 59, 59, 0.456);
    text-align: center;
    box-shadow: 20px -20px 20px -20px white;
    border-radius: 20%;
    font-size: 20px;
    background-color: rgba(45, 45, 45, 0.5137254902);
    color: #ffffff;
    font-weight: 300;
  }
  .off-titulo {
    margin-top: 50px;
  }
  .publicidad1 {
    width: 100vw;
    height: 20vh;
    margin: none;
    border-radius: 1px;
  }
  .ofertas-pigmento {
    width: 100vw;
    height: 20vh;
    margin-bottom: 20px;
    border-bottom: 10px solid white;
  }
  .img1 {
    width: 30vw;
    height: auto;
  }
  .img2 {
    width: 30vw;
    height: auto;
  }
  .img3 {
    width: 30vw;
    height: auto;
  }
  .img-off {
    width: 90%;
    height: auto;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50%;
  }
  .btn-off {
    width: 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
